{% extends 'base_project.html' %}
{%load static%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
            <a href="https://www.dropbox.com/s/uafdr7er0knceoa/CV%20INF%20JUNIOR2.pdf?dl=0">
<h2 class="post-title">Cover letter</h2>


<h3 class="post-subtitle" >

    As architect i developed estchetic taste and become very accurate, wich helps me to webdesign.
I developed strong coding skills during bootcamps and making apps on my own. I have wrote dozens of lines of code.
I wrote very good and sometimes very bad lines of code, makings bugs, and correct myself. I had spend hours googling to find the clue, tearing my hair out until  solve problems, shouting enthusiatic when i find answear.

</h3>
</a>
</div>
</div>
</div>
</div>
{% endblock %}