{% extends 'base_project.html' %}


{% block content %}
{%load static%}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ul class="list-inline text-center">
<li class="list-inline-item">
    <a href="https://www.dropbox.com/s/uafdr7er0knceoa/CV%20INF%20JUNIOR2.pdf?dl=0">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-download fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <p>Download CV file.</p>
  </li>
</ul>
  </div>
</div>
</div>
  {% endblock %}