{%extends 'base_project.html'%}
{%load static%}
{% block content %}


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              EDUCATION
            </h2>
            <h3 class="post-subtitle">
- High School No.1 in Dębica  - majors in mathematics and computer science, with final exam – 1995-1998
<br> - Faculty of architecture Cracow University of Technology – 1998-2004

            </h3>
          </a>

        </div>
        <hr>
        <div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              SKILLS
            </h2>
            <h3 class="post-subtitle">
              SASS REACT JAVA JAVASCRIPT SQL HTML
            </h3>
            <div class="container">
              <div class="row">

                <div class="col-lg-8 col-md-10 mx-auto">
                  <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-sass fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-react fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                    <li class="list-inline-item">
                        <span class="fa-stack fa-lg">
                          <i class="fas fa-circle fa-stack-2x"></i>
                          <i class="fab fa-java fa-stack-1x fa-inverse"></i>
                        </span>
                    </li>
                    <li class="list-inline-item">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-js-square fa-stack-1x fa-inverse"></i>
                      </span>
                  </li>
                  <br>
                  <li class="list-inline-item">
                    <span class="fa-stack fa-lg">
                      <i class="fas fa-circle fa-stack-2x"></i>
                      <i class="fas fa-database fa-stack-1x fa-inverse"></i>
                    </span>
                </li>
                <li class="list-inline-item">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-html5 fa-stack-1x fa-inverse"></i>
                  </span>
              </li>


                  </ul>

                </div>

            </div>
          </a>

        </div>
        <hr>
        <div class="post-preview">

            <h2 class="post-title">
              PROJECTS AND APS
            </h2>

              <a href="http://joannawlosowicz2.cba.pl/">
                <h3 class="post-subtitle">
              - Frontend – SASS i HTML – copy of IlikeArt - website </h3> </a>
              <a href="http://joannawloskowicz.cba.pl/">
                <h3 class="post-subtitle">
              - Frontend – SASS i HTML – copy of  Portfolio - website </h3></a>
              <a href="https://intense-earth-52054.herokuapp.com/"> <h3 class="post-subtitle">- Frontend app for booklovers
              – data base create by DJANGO model. Creating html templates and adding CSS styles.
                Installing app on the server HEROKU. </h3> </a>
                   <a href="https://intense-earth-52054.herokuapp.com/"><h3 class="post-subtitle">- Plantation – app that help you take care of your plants.The implementation included: creating in   DJANGO: backend, JSON serializers , views for authorized and  unauthorized  user. Second:creating in REACT: frontend, using HOOKs, HOC, and adding  libraries  REACTSTRAP, AXIOS, REACTROUTERDOM. Using PROMISE object during http request and fetching data from server. Using REDUX  for application state management.
                  </h3></a>

        </div>
        <hr>
        <div class="post-preview">
          <a href="">

          <h2 class="post-title">
            BOOTCAMPS AND COURSES
          </h2>

          <div class="post-preview">
            <a href="https://www.udemy.com/course/the-complete-sql-bootcamp/learn/lecture/18057761?start=0#overview">
              <img src="../static/img/UDEMY.png" alt="logo udemy">
              <h3 class="post-subtitle">
                -The Complete SQL Bootcamp 2020 - Go from Zero to Hero
                 </h3>
                </a>
                <a href="https://codebrainers.pl/#program">
                <img src="../static/img/0.png" alt="logo udemy">
                <h3 class="post-subtitle">

                - Fullstack-developer bootcamp – HTML, CSS, SASS, REACT, DJANGO, SQL
                   </h3>
                  </a>

                  <a href="https://ng-girls.org/">
                  <img src="../static/img/nggirls.png" alt="logo udemy">
                  <h3 class="post-subtitle">
                    - ng-Girls workshops – creating app To-do list, w Angular

                     </h3>

                </a>

      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h2 class="post-title">
            LANGUAGES
          </h2>
          <h3 class="post-subtitle">
            - English – B2 <br>
            - Deutsch – B1
          </h3>
        </a>

      </div>



        <!-- Pager -->
      </div>
    </div>
  </div>
</div>




 {% endblock %}