{% extends "base_project.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% if form.errors %}
    <strong>Error:</strong> Your username and password didn't match.
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {{ form|crispy }}
        {% csrf_token %}


        <input class="btn-primary"  type="submit" value="login">
        <input class="btn-primary"  type="hidden" name="next" value="{{ next }}">
    </form>
</div>

{% endblock %}